<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.capacitor.plugins.backgroundintervalprocess">

    <meta-data
        android:name="com.google.firebase.messaging.default_notification_color"
        android:resource="@color/colorAccent" />

    <application>
        <receiver
            android:name="com.capacitor.plugins.backgroundintervalprocess.BackgroundIntervalProcessReceiver"
            android:enabled="true"
            android:exported="false"
            tools:ignore="WrongManifestParent"/>

        <service
            android:name="com.capacitor.plugins.backgroundintervalprocess.BackgroundIntervalProcessService"
            android:enabled="true"
            android:exported="true"
            tools:ignore="Instantiatable,WrongManifestParent" />
    </application>

</manifest>
